@charset "utf-8";
/* CSS Document */

p1 {
    font-size: 14px;
    line-height: 1.7em;
    font-weight: normal;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-sarif;
  }
.truncate {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            overflow: hidden;
         }
.toggle {
         border: none;
         background: transparent;
         cursor: pointer;
        }
.inline-flex {
            display: inline-flex;
        }
.d-none {
         display: none;
        }
.readmore {
           color: green;
          }
        .readless {
            color: red;
        } 